.tituloPrincipal {
    padding: 10% 0 1% 10%;
    
}

.subTituloPrincipal {
    padding: 0 0 1% 10%;    
}

.textoTituloPrincipal {
    display: inline-block;
    padding: 0 0 2% 10%;
    width: 700px;
}

.imagemPerfil {
    position: absolute;
    top: 25%;
    left: 65%;
    
    height: 368px;
    
    
}